:root {
    font-size: 55%;

    --fw--rg: 400;
    --fw--md: 500;
    --fw--xl: 700;

    --bg--main: #FBFAFF;
    --bg--body: #7C3AED;
    --links--colors: #CAB3FF;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg--body);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#app {
    min-height: 100%;
    display: flex;
    gap: 1rem;
}

.sidebar {
    height: 100vh;
    max-width: 5rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 3.2rem;
    transition: all 400ms ease-in;
}

.logo {
    width: 100%;
}

.logo img {
    width: 4.3rem;
    margin-inline: auto;
}

.nav--list {
    height: 18rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.nav--items {
    display: flex;
    align-items: flex-end;
    gap: 1.3rem;
    color: var(--links--colors);
    position: relative;
}

.toolip {
    position: absolute;
    top: 0;
    right: -13rem;
    background-color: #7C3AED;
    color: #ffffff;
    padding: .3rem;
    border-radius: .5rem;
    width: 10rem;
    display: none;
    text-align: center;
    z-index: 10;
}

.nav--links {
    font-size: 1.6rem;
    font-weight: var(--fw--xl);
    color: var(--links--colors);
    display: none;
}

.bx {
    font-size: 2rem;
    color: var(--links--colors);
    cursor: pointer;
}

.nav--items:is(:hover, :focus) .nav--links,
.nav--items:is(:hover, :focus) .bx {
    color: #FFFFFF;
}

.nav--items:is(:hover, :focus-within) .toolip {
    display: block;
}

.nav--list--modifil {
    margin-block: auto 0;
}

main {
    flex: 1;
    background-color: var(--bg--main);
    border-radius: 3.2rem 0 0 0;
    margin-top: .4rem;
    min-height: 100%;
}

.kanban {
    --padding: 2rem;
    padding: 4.6rem 3.2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding);
}

.header img {
    width: 6rem;
}

.kanban--title {
    font-size: 2.2rem;
    font-weight: var(--fw--xl);
    color: #403937;
    display: flex;
    gap: .8rem;
    align-items: center;
    white-space: nowrap;
}

.kanban--title i {
    font-size: 2.4rem;
    color: #C7C7CD;
}



@media(min-width: 600px) {
    :root {
        font-size: 62.5%;
    }

    .sidebar {
        max-width: 14.5rem;
        padding-inline: 3.2rem 2.7rem;
    }

    .nav--links {
        display: block;
    }

    .nav--items:is(:hover, :focus-within) .toolip {
        all: unset;
        display: none;
    }


}